@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Raleway:ital,wght@1,100&family=Roboto+Slab&display=swap");
body {
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  background-color: black;
  max-width: 100%;
  max-height: 100vh;
  margin: 0;
  padding: 5px; }

.grillaHeader {
  grid-area: header; }

.grillaMain {
  grid-area: main; }

.grillaFooter {
  grid-area: footer; }

.zoomNav:hover {
  background-color: #D9BD32;
  transform: scale 1.5;
  transition-duration: 0.5s;
  color: black; }

.zoomImg:hover {
  transform: scale(1.1);
  transition-duration: 1.5s; }

.zoomEspecial:hover {
  transform: scale(1.1);
  transition: 0.9s; }

a:link, a:visited, a:active {
  text-decoration: none; }

p {
  color: white;
  font-family: 'Roboto Slab', serif; }

h1, h2, h3, h4 {
  font-family: 'Anton', sans-serif;
  margin: auto;
  margin-top: 2rem; }

hr {
  color: white; }

h1 {
  display: flex;
  align-self: center;
  color: #fad000ec;
  text-align: center;
  font-size: 3.5rem; }

h2 {
  color: #fad000ec;
  text-align: center; }

h3 {
  color: #fad000ec;
  text-align: center;
  margin-bottom: 10px;
  margin-right: 2rem;
  margin-top: 2rem; }

.bg-nav {
  background-color: black; }

footer {
  margin: 0; }
  footer div {
    padding: 0; }
    footer div p {
      padding: 0.5rem;
      max-width: 95%;
      justify-self: center;
      align-self: center; }
    footer div img {
      max-width: 100%; }

.footerLogo {
  display: flex;
  padding: 1rem;
  max-width: 99%;
  padding-left: 0;
  padding-right: 0; }

.Redes {
  display: flex;
  justify-content: space-around;
  padding: 1rem; }

.botonInso {
  display: flex;
  justify-content: center;
  padding: 1rem; }

.colorSerch {
  background-color: #BFBFBF;
  border: solid 3px #D9BD32; }

.flexHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 2vh; }

.ordenCarrusel {
  display: flex;
  flex-direction: column; }

.imgCarrusel {
  width: 90%;
  height: 40%;
  margin-top: 0.5rem;
  margin-left: 0.3rem; }

.fondoIndex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 100%;
  margin-top: 3.5rem;
  margin-bottom: 5rem; }

.imagenShop {
  width: 20%;
  border-radius: 2px;
  box-shadow: 8px 8px 3px; }
  @media screen and (max-width: 740px) {
    .imagenShop {
      width: 45%;
      margin-bottom: 1rem; } }

.buttonMatch, .buttonShop {
  background-color: rgba(194, 194, 194, 0.815);
  font-family: 'Roboto Slab', serif;
  border: 3px solid;
  height: 2.5rem;
  color: white;
  margin-top: 2vh;
  margin-left: 5px;
  width: 90%;
  min-width: 90%; }

.parrafoIndex {
  color: #D9BD32;
  font-size: 2em;
  margin: auto; }
  @media screen and (max-width: 466px) {
    .parrafoIndex {
      font-size: 1.5em; } }
  @media screen and (max-width: 352px) {
    .parrafoIndex {
      font-size: 1em; } }

.acomodarModal {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  align-self: center; }

.redondeo {
  border-radius: 50%; }

main section button {
  margin-top: 5rem;
  margin-bottom: 1rem; }

figure {
  border: solid #262625;
  padding: 6px;
  width: 20%; }
  figure figcaption {
    color: white;
    padding: 2px;
    height: 20px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; }

.controlFlex {
  display: flex;
  justify-content: center; }

.control {
  background-color: #BFBFBF;
  font-family: 'Roboto Slab', serif;
  font-size: medium;
  border: 3px solid #D9BD32;
  padding: 5px;
  height: 2.5rem;
  color: black;
  width: 90%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px; }

.galeriaCentrar {
  display: flex;
  justify-content: center; }

.galeria {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.flexG {
  display: flex;
  justify-content: center; }

.figureStyle {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  align-content: center;
  border-radius: 5px; }

.shopImg {
  justify-self: center;
  max-width: 70%;
  margin-top: 0.3rem;
  border-radius: 5px; }

.buttonShop {
  margin-top: 1rem;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 0.5rem; }

.divFlex {
  display: flex;
  flex-direction: column; }

.tabla {
  display: flex;
  flex-direction: column; }

.tableFormat {
  color: white;
  text-align: left;
  margin-top: 1rem;
  height: 60vh;
  width: 100%;
  margin-right: 2rem;
  margin-bottom: 5rem;
  margin: 0;
  border: outset #D9BD32 2px; }

th, td {
  border: outset #D9BD32 2px; }

form {
  max-width: 44rem;
  margin: 0% auto;
  margin-bottom: 6rem; }
  form fieldset {
    color: #D9BD32;
    font-family: 'Roboto Slab', serif;
    border-radius: 10px;
    border-color: #D9BD32;
    border-style: double; }
    form fieldset div {
      margin-top: 10px; }

input {
  font-family: 'Roboto Slab', serif; }

textarea {
  resize: none; }

.flexHeader {
  display: flex;
  max-width: 100%;
  justify-content: space-between; }

.section {
  display: flex;
  align-content: center;
  justify-content: space-around;
  margin-top: 1.5rem;
  margin-bottom: 2rem; }

.grillaContacto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }

.borde {
  border: solid #D9BD32;
  border-radius: 50%;
  margin-left: 1rem;
  margin-bottom: 1rem; }

.itemsForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border: solid 2px #D9BD32;
  padding: 5px; }

.acomodarForm {
  display: flex;
  justify-content: center;
  max-width: 100%; }

.liSector {
  border-color: #D9B23D;
  background-color: #f7f7f7;
  margin-left: 5px;
  margin-right: 5px; }

.field {
  border: solid 1px #ccc;
  padding: 10px;
  width: 300px; }

.divForm {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center; }

.inputText {
  width: 300px;
  height: 5rem; }

.button, .botonError {
  background-color: rgba(194, 194, 194, 0.815);
  font-family: 'Roboto Slab', serif;
  border: 3px solid;
  height: 2.5rem;
  align-self: center;
  justify-self: center;
  color: white;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 0.5rem; }

section div p {
  max-width: 90%; }

.historiaCbd {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  padding: 10px; }

.flexCenter {
  display: flex;
  justify-content: center; }

.imagenCbd {
  width: 89%;
  height: 70%;
  border: solid 2px #D9BD32;
  margin-bottom: 1rem; }

.imgBorder {
  border: solid 2px #D9BD32;
  margin-bottom: 1rem; }

@media screen and (min-width: 769px) {
  .imagenDificil {
    min-width: 300px;
    margin-right: 1rem; } }

.div404 {
  text-align: center;
  margin-top: rem; }

.imagen404 {
  width: 50%;
  border: solid white;
  border-radius: 20px; }
  @media screen and (max-width: 600px) {
    .imagen404 {
      width: 70%; } }

.p404 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 3em;
  text-align: center;
  background-color: #D9BD32;
  color: black; }
  @media screen and (max-width: 422px) {
    .p404 {
      font-size: 2em; } }

.botonError {
  width: 90%;
  margin: 0;
  font-size: 1.5em;
  margin-top: 5px; }
  @media screen and (max-width: 422px) {
    .botonError {
      font-size: 1em; } }

.aError {
  text-align: center; }

@media screen and (max-width: 407px) {
  .loguito {
    width: 150px; } }

@media screen and (max-width: 768px) {
  .imagenLogo {
    max-width: 70%; }
  .Redes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .footerLogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
    align-items: center; }
  .botonInso {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .centrar {
    display: flex;
    justify-content: center;
    align-content: center; }
  .historiaCbd {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 5px; }
  .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    min-width: 90%;
    max-width: 90%;
    align-content: space-around; }
  .figureStyle {
    min-width: 100%; } }
