//variables colores
$colorPrincipal:black;
$colorSecundario:#D9BD32;

//body
body{
    display: grid;
    grid-template-areas: 'header' 'main' 'footer' ;
    background-color: $colorPrincipal;
    max-width: 100%;
    max-height: 100vh;
    margin: 0;
    padding: 5px;
}
.grillaHeader{
    grid-area: header;
}
.grillaMain{
    grid-area: main;
}
.grillaFooter{
    grid-area: footer;
}

//ANIMACIONES//
.zoomNav:hover{
    background-color: #D9BD32;
    transform: scale (1.5);
    transition-duration: 0.5s;
    color: $colorPrincipal;
}
.zoomImg:hover{
    transform: scale(1.1);
    transition-duration: 1.5s;
}
.zoomEspecial:hover{
    transform: scale(1.1);
    transition: 0.9s;
}