

form{
       
    max-width: 44rem;
    margin: 0% auto;
    margin-bottom: 6rem;
    fieldset{
        color:#D9BD32;
        font-family: 'Roboto Slab', serif;
        border-radius: 10px;
        border-color: #D9BD32;
        border-style: double;
        div{
            margin-top: 10px;
        }
    }
}

input{
    font-family: 'Roboto Slab', serif;
}
textarea{
    resize:none;
}


.flexHeader{
    display: flex;
    max-width: 100%;
    justify-content: space-between; 
}
.section{
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}
.grillaContacto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.borde{
    border: solid $colorSecundario ;
    border-radius: 50%;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.itemsForm{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: solid 2px $colorSecundario;
    padding: 5px;
}
.acomodarForm{
    display: flex;
    justify-content: center;
    max-width: 100%;
}
.liSector{
    border-color: #D9B23D;
    background-color: #f7f7f7;
    margin-left: 5px;
    margin-right: 5px;
    
}
.field{
    border: solid 1px #ccc;
    padding: 10px;
    width: 300px;
}
.divForm{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    
}
.inputText{
    width: 300px;
    height: 5rem;
}
.button{
    background-color: rgba(194, 194, 194, 0.815);
    font-family: 'Roboto Slab', serif;
    border: 3px solid;
    height: 2.5rem;
    align-self: center;
    justify-self: center;
    color: white;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}