section div p{
    max-width: 90%;
}
.historiaCbd{
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    padding: 10px;
    
}
.flexCenter{
    display: flex;
    justify-content: center;
}
.imagenCbd{
    width: 89%;
    height: 70%;
    border: solid 2px $colorSecundario;
    margin-bottom: 1rem;
}
.imgBorder{
    border: solid 2px $colorSecundario ;
    margin-bottom: 1rem;
}
.imagenDificil{
    @media screen and (min-width: 769px){
        min-width: 300px;
        margin-right: 1rem;
    }
}
