
.flexHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2vh;
}

.ordenCarrusel{
    display: flex;
    flex-direction: column;
    
}
.imgCarrusel{
    width: 90%;
    height: 40%;
    margin-top: 0.5rem;
    margin-left: 0.3rem;
   
}
.buttonMatch{
    background-color: rgba(194, 194, 194, 0.815);
    font-family: 'Roboto Slab', serif;
    border: 3px solid;
    height: 2.5rem;
    color: white;
    margin-top: 2vh;
    margin-left: 5px;
    width: 90%;
    min-width: 90%; 
}