
.flexHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2vh;
}

.ordenCarrusel{
    display: flex;
    flex-direction: column;
    
}
.imgCarrusel{
    width: 90%;
    height: 40%;
    margin-top: 0.5rem;
    margin-left: 0.3rem;
   
}
.fondoIndex{
    @include flex (flex, row, space-around, wrap);
    max-width: 100%;
    margin-top: 3.5rem;
    margin-bottom: 5rem;

}
.imagenShop{
    width: 20%;
    border-radius: 2px;
    box-shadow: 8px 8px 3px;
}
.buttonMatch{
    background-color: rgba(194, 194, 194, 0.815);
    font-family: 'Roboto Slab', serif;
    border: 3px solid;
    height: 2.5rem;
    color: white;
    margin-top: 2vh;
    margin-left: 5px;
    width: 90%;
}
.parrafoIndex{
    color: $colorPrincipal;
    font-size: 2em;
    margin: auto;
    background-color: $colorSecundario;
    width: 90%;
    text-align: center;
    
}
.acomodarModal{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    align-self: center;
}
.redondeo{
    border-radius: 50%;
}
.aaa{
    text-decoration: none;
    color: white;
    width: 100%;
}
//SHOP//


main section button{
    margin-top: 5rem;
    margin-bottom: 1rem;
    
}
figure{
    border: solid #262625;
    padding: 6px;
    figcaption{
        color: white;
        padding: 2px;
        height: 20px;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    
    }

}

.controlFlex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    max-width: 100%;
}
.control{
    background-color: map-get($map: $paleta , $key:'blanco');
    font-family: 'Roboto Slab', serif;
    font-size: medium;
    border: 3px solid $colorSecundario;
    padding: 5px;
    height: 2.5rem;
    color: black;
    width: 50%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    
}
.galeriaCentrar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.galeria{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    max-width: 100%;
}
.flexG{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.figureStyle{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
    border-radius: 5px;
    margin: 0.3rem;
    
}
.shopImg{
    justify-self: center;
    max-width: 70%;
    margin-top: 0.3rem;
    border-radius: 5px;
}
.buttonShop{
    @extend .buttonMatch;
        margin-top: 1rem;
        border-radius: 5px;
        margin: auto;
        margin-bottom: 0.5rem;
    
}
.botonShop{
    margin: 0;
    width: 5rem;
    margin: 1rem;
    margin-right: 0;
    border-radius: 5px;
    border: solid $colorSecundario 3px;
}

//HISTORY//
section div p{
    max-width: 90%;
    text-align: justify;
}
.historiaCbd{
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    padding: 10px;
    
}
.flexCenter{
    display: flex;
    justify-content: center;
}
.imagenCbd{
    width: 89%;
    height: 70%;
    border: solid 2px $colorSecundario;
    margin-bottom: 1rem;
}
.imgBorder{
    border: solid 2px $colorSecundario ;
    margin-bottom: 1rem;
}
