@media screen and (max-width: 407px){
    .loguito{
        width: 150px ;
    }
   
}
@media screen and (max-width: 768px){
   

   .imagenLogo{
       max-width: 70%;
   }
   .Redes{
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
   }
   .footerLogo{
       display: flex;
       flex-wrap: wrap;
       justify-content: space-around;
       justify-items: center;
       align-items: center;
   }
   .botonInso{
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
   }
   .centrar{
       display: flex;
       justify-content: center;
       align-content: center;
   }
   
   .historiaCbd{
       display: flex;
       justify-content: center;
       flex-direction: column;
       flex-wrap: wrap;
       max-width: 100%;
       padding: 5px;
   }
   .galeria{
       display: flex;
       flex-wrap: wrap;
       justify-content: space-around;
       flex-direction: column;
       min-width: 90%;
       max-width: 90%;
       align-content: space-around;
   }
   
   .figureStyle{
       min-width: 100%;
   }
   
}