
main section button{
    margin-top: 5rem;
    margin-bottom: 1rem;
    
}
figure{
    border: solid #262625;
    padding: 6px;
    width: 20%;
    figcaption{
        color: white;
        padding: 2px;
        height: 20px;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    
    }

}

.controlFlex{
    display: flex;
    justify-content: center;
}
.control{
    background-color: white(194, 194, 194, 0.815);
    font-family: 'Roboto Slab', serif;
    font-size: medium;
    border: 3px solid $colorSecundario;
    padding: 5px;
    height: 2.5rem;
    color: black;
    width: 90%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}
.galeriaCentrar{
    display: flex;
    justify-content: center;
}
.galeria{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flexG{
    display: flex;
    justify-content: center;
}
.figureStyle{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
}
.shopImg{
    justify-self: center;
    max-width: 70%;
}
.buttonShop{
    margin-top: 1rem;
}